@model MyBlog.Models.Post

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_layoutDashboard.cshtml";
}

<h2 style="font-weight:bold; font-size:1.5em;">Delete</h2>
<br />

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Post</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PostTitle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PostTitle)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PostedOn)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PostedOn)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PostAuthor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PostAuthor)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PostPic)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PostPic)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PostBody)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PostBody)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PostRespect)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PostRespect)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PostViews)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PostViews)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PostTags)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PostTags)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
