@model MyBlog.Models.Post

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Post</legend>

        @Html.HiddenFor(model => model.PostID)

        <div class="editor-label">
            @Html.LabelFor(model => model.PostTitle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PostTitle)
            @Html.ValidationMessageFor(model => model.PostTitle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PostAuthor)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PostAuthor)
            @Html.ValidationMessageFor(model => model.PostAuthor)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PostPic)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PostPic)
            @Html.ValidationMessageFor(model => model.PostPic)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PostBody)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PostBody)
            @Html.ValidationMessageFor(model => model.PostBody)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PostTags)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PostTags)
            @Html.ValidationMessageFor(model => model.PostTags)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
