@model IEnumerable<MyBlog.Models.Post>

@{
    ViewBag.Title = "My Blog";
}

@*<a href="http://Google.com">
    <div class="circleDiv" id="myCircle">To Google!</div>
</a>*@

@foreach (var post in Model)
{
    <section>
        <h1 = class="postTitle"><a href="@Url.Action("Details", "post", new { id=post.PostID })">@post.PostTitle</a></h1>
        <small>
            By @post.PostAuthor,
            @post.PostedOn.ToLongDateString() <br /> <br />
        </small>
        @if (!string.IsNullOrEmpty(post.PostPic))
        {
            <div>
                <img src="@post.PostPic" height="200"/>
            </div>
        }
        <div>
            @post.PostBody
        </div>
        <div>
            <br />
			<a href =""><button>-1</button></a>
            <small>Respect: @post.PostRespect</small>
			<a href =""><button>+1</button></a>
            <br />
            <br />
        </div>
    </section>
    
}
