<!DOCTYPE html>
<html>
<head>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/j.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header id="header">
        <h>Chris Corey's Test Blog</h>
        <h2><a href="https://mail.google.com/mail/u/0/#inbox?compose=145d8dcfbdfa823a"><div id="email">Chris.Corey95@gmail.com</div></a></h2>
    </header>
    <header id="notHeader">
    </header>
    <div id="sideBar">
        <br />
        <h2><a href="@Url.Action("index", "Post")"><div class="sideTab">To <br /> Dashboard</div></div></a></h2>
    </div>
    <div id="notSideBar">
    </div>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
    <footer id="footer">
        <p>Created by Chris Corey</p>
        <br />
        <p>(512) 497-5480</p>
    </footer>
</html>
